.users {
  width: 80%;
  margin: auto;
  overflow: scroll;
}

h2 {
  text-align: center;
  color: turquoise;
}

table {
  border: 1px solid rgba(126, 123, 123, 0.411);
  border-collapse: collapse;
  width: 100%;
  overflow: scroll;
}
th {
  background-color: rgb(141, 238, 205);
}

th,
td {
  border: 1px solid rgba(126, 123, 123, 0.411);
  padding: 10px;
  color: rgb(65, 64, 64);
}

input {
  padding: 8px;
}
