<div class="users">
  <div class="search">
    <input type="text" [(ngModel)]="searchItem" placeholder="Name Filter" />
    <input type="text" [(ngModel)]="searchgender" placeholder="Gender Filter" />

    <select [(ngModel)]="searchItem">
     
        <option value="">select</option>
        <option *ngFor="let user of users ">
          {{user.name}}
        </option>
    
    </select>
  </div>
  <table>
    <thead>
      <th>Id</th>
      <th>Name</th>
      <th>Gender</th>
      <th>City</th>
      <th>City Code</th>
      <th>Salary</th>
      <th>Allowance</th>
      <th>Total Salary</th>
      <th>DOB</th>
      <th>Age</th>
    </thead>

    <tbody>
      <tr
        *ngFor="let user of users | nameFilter:searchItem |genderFilter:searchgender; index as i "
      >
        <td>{{i+1}}</td>
        <td>{{user.name}}</td>
        <td>{{user.gender}}</td>
        <td>{{user.city}}</td>
        <td>{{user.cityCode}}</td>
        <td>{{user.salary}}</td>
        <td>{{user.allowance}}</td>
        <td>{{user.salary | rowSum:user.allowance}}</td>
        <td>{{user.dob | date:'shortDate'}}</td>
        <td>{{user.dob | age}}</td>
      </tr>
    </tbody>
  </table>
</div>
